{% extends "base.html" %}
{% block title %}Todos Clientes{% endblock title %}
{% block content %}
    <style>
        .container {
            max-width: 1150px;
            margin: 0 auto;
            padding: 0 10px;
        }
    </style>
    <div style="margin-top: 200px;" class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="margin-top: 10px;" class=flashes>
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome Cliente</th>
                <th scope="col">CPF</th>
                <th scope="col">Data Nascimento</th>
            </tr>
            </thead>
            <tbody>
            {% for i in context.clients %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.cpf }}</td>
                    <td>{{ i.birth_date }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}