{% extends "base.html" %}
{% block title %}Pedidos{% endblock title %}
{% block content %}
    <style>
        .container {
            max-width: 1150px;
            margin: 0 auto;
            padding: 0 10px;
        }
    </style>
    <div style="margin-top: 200px;" class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="margin-top: 10px;" class=flashes>
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/addtocard">
            <label for="pid">Digitite o ID do Produto para adicionar ao carrinho!</label>
            <input style="width: 40%;" id="pid" type="number" name="product_id" class="form-control">
            <label for="quantity">Quantidade</label>
            <input style="width: 40%;" id="quantity" type="number" name="quantity" class="form-control">
            <button style="width: 40%; margin-top: 30px;" type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
{% endblock %}