{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="margin-top: 10px;" class=flashes>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1 style="text-align: center; margin-top: 250px;">oi</h1>
{% endblock %}