{% extends "base.html" %}
{% block title %}Pedidos{% endblock title %}
{% block content %}
    <style>
        .container {
            max-width: 1150px;
            margin: 0 auto;
            padding: 0 10px;
        }

        #end {
            border: none;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            text-align: center;
            padding: 10px 0px 12px;
            border-radius: 30px;
            background: #4028ca;
            width: 270px;
            font-family: "Varela Round", sans-serif, monospace;
            font-size: 1.15em;
            color: white;
            transition: all .3s ease;
            text-decoration: none;
        }

        #emp {
            border: none;
            cursor: pointer;
            margin: 0 auto;
            margin-top: 20px;
            display: block;
            text-align: center;
            padding: 10px 0px 12px;
            border-radius: 30px;
            background: #ed4c58;
            width: 270px;
            font-family: "Varela Round", sans-serif, monospace;
            font-size: 1.15em;
            color: white;
            transition: all .3s ease;
            text-decoration: none;
        }

        #end:hover {
            transform: scale(1.05);
        }

        #emp:hover {
            transform: scale(1.05);
        }
    </style>
    <div style="margin-top: 200px;" class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="margin-top: 10px;" class=flashes>
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if cart.products %}
            <table class="table table-bordered table-dark">
                <thead>
                <tr>
                    <th scope="col">ID do Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Remover</th>
                </tr>
                </thead>
                <tbody>
                {% for dict_item in cart.products %}
                    <tr>
                        {% for id, quantity in dict_item.items() %}
                            <td>{{ id }}</td>
                            <td>{{ quantity }}</td>
                            <td style="text-align: center;">
                                <form method="GET" action="/removefromcart/{{ id }}">
                                    <button id="delete-button" type="submit" class="btn btn-danger"><i
                                            class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a data-toggle="modal" data-target="#exampleModal" id="end">Finalizar Pedido</a>
            <a href="/emptycart" id="emp">Esvaziar Carrinho</a>
        {% else %}
            <h3 style="text-align: center; color: #343a40; font-weight: bold;">Seu Carrinho está Vazio!</h3>
        {% endif %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Preencha as informações restantes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="modal-form" action="/endorder" method="post">
                            <div class="form-group">
                                <label for="client_cpf" class="col-form-label">CPF do Cliente:</label>
                                <input type="text" class="form-control" id="client_cpf" name="cpf">
                            </div>
                            <div class="form-group">
                                <label for="notes" class="col-form-label">Notas:</label>
                                <input type="text" class="form-control" id="notes" name="notes">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button onclick="{document.querySelector('#modal-form').submit();}" type="button"
                                class="btn btn-primary">Finalizar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}